---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/556574?api_key=MOVIE_KEY&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 70484a0341a7468045b0420e1174132313d33f23
      X-Memc-Age:
      - '12796'
      X-Memc-Expires:
      - '3279'
      Etag:
      - W/"190c719771ce08d9040bacae8c15b1a8"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/uWVkEo9PWHu9algZsiLPi6sRU64.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":10402,"name":"Music"},{"id":36,"name":"History"},{"id":18,"name":"Drama"}],"homepage":"https://www.disneyplus.com/movies/hamilton/3uPmBHWlO6HJ","id":556574,"imdb_id":"tt8503618","original_language":"en","original_title":"Hamilton","overview":"Presenting
        the tale of American founding father Alexander Hamilton, this filmed version
        of the original Broadway smash hit is the story of America then, told by America
        now.","popularity":18.128,"poster_path":"/h1B7tW0t399VDjAcWJh8m87469b.jpg","production_companies":[{"id":89394,"logo_path":"/m1Hku3PhgdsQiPO8uVe7szyrxAb.png","name":"RadicalMedia","origin_country":"US"},{"id":122645,"logo_path":null,"name":"5000
        Broadway Productions","origin_country":"US"},{"id":150839,"logo_path":null,"name":"Nevis
        Productions","origin_country":""},{"id":122647,"logo_path":null,"name":"Old
        320 Sycamore","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2020-07-03","revenue":0,"runtime":160,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Five
        Founding Fathers, Three Sisters - Over A Decade, in One Night","title":"Hamilton","video":false,"vote_average":8.4,"vote_count":751}'
  recorded_at: Fri, 02 Jul 2021 22:07:07 GMT
recorded_with: VCR 6.0.0
